
/data/*.db
/data/*.db-shm
/data/*.db-wal

/docker-compose.override.yml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/.phpunit.cache/
/.phpunit.result.cache
###< phpunit/phpunit ###

###> claude-code ###
/.claude/settings.local.json
###< claude-code ###
